{% extends"index.html.twig" %}
{% block title %}
Crear Producto
{% endblock %}

{% block body %}
    <h1>Crear producto</h1>

    {{ include('producto/_form.html.twig') }}

    <a href="{{ path('producto_index') }}">back to list</a>
{% endblock %}
