<form method="post" action="{{ path('variante_tipo_delete', {'id': variante_tipo.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ variante_tipo.id) }}">
    <button class="btn">Delete</button>
</form>
