<!DOCTYPE html>

<title>New VarianteTipo</title>

{% block body %}
    <h1>Create new VarianteTipo</h1>

    {{ include('variante_tipo/_form.html.twig') }}

    <a href="{{ path('variante_tipo_index') }}">back to list</a>
{% endblock %}
