{% extends"index.html.twig" %}

{% block title %}
Crear Marca
{% endblock %}

{% block body %}
    <h1>Crear marca</h1>

    {{ include('marca/_form.html.twig') }}

    <a href="{{ path('marca_index') }}">back to list</a>
{% endblock %}
