<nav class="navbar navbar-expand navbar-light bg-light">
    <a href="{{ path('home') }}" class="navbar-brand">PaStock</a>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="#">Añadir Stock</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Caja</a></li>
        <li class="nav-item"><a class="nav-link" href="{{path('producto_index')}}">Ver Stock</a></li>
        <li class="nav-item"><a class="nav-link" href="{{path('categoria_index')}}">Organizar Categorias</a></li>
        <li class="nav-item"><a class="nav-link" href="{{path('marca_index')}}">Organizar Marcas</a></li>
    </ul> 
</nav>